/* CSS Config
Anyp art of the CSS, whether it's mobile or desktop could use this stuff */

* {

    margin: 0;


    --blue-lighter: #BDE0FE;
    --blue-light: #A2D2FF;
    --purple: #502469;
    --purple-dark:#862fb8;
    --pink-lighter: #FFC7FD;
    --pink-darker: #FFB0F7;
    
    color: white;
}

/*
Mobile First Styling!!!
*/


body {
    background-color: var(--purple); 
    display: flex;
    flex-direction: column;
    justify-content: baseline;


    /* Text align is horizontal */
    text-align: center;
    /* Align items is vertical */
    align-items: center;

    height: 100dvh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
} 
 

.row  {
    width: 100%;
    background-color: var(--pink-darker);
}

.column { 
    width: 100%;
    background-color: var(--pink-lighter);

    height: 50dvw;
    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header {
    min-height 7dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    min-height: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    /*margin-top: auto;*/

}

/* Main element with a class of "row" */
main.row {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}




/* Desktop Stylying goes here */ 

@media screen  and (min-width: 500px) {
    body {
        background-color: var(--purple-dark);
    }


main.row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

.column {
    width: 30dvw;
    height: 50dvh;
    }
}
 